
<div class="selected publications">
   <h2>seleced publications</h2>
  <div class="img"><img class="img_responsive" src="http://stevenhan1991.github.io/assets/img/publications/v2v.jpg" alt="spotlight_v2v" style="width:100px;height:100px;" align="left"></div>
  <div class="text">
    <div class="title"><a name="shape2prog_iclr" href="papers/shape2prog_iclr.pdf">V2V: A Deep Learning Approach to Variable-to-Variable Selection and Translation for Multivariate Time-Varying Data</a></div> 
    <div class="authors">
      <span class="author">Jun Han</span>,
      <span class="author">Hao Zheng</span>,
      <span class="author">Yunhao Xing</span>
    </div>
    <div>
    </div>
  </div>
</div>

<div class="selected publications">
				<div class="col-md-3">
					<img class="img-fluid img-rounded" src="http://stevenhan1991.github.io/assets/img/publications/v2v.jpg" style="border:1px solid black" alt="">
				</div>
				<div class="col-md-9">
				<a href="http://people.csail.mit.edu/liyunzhu/"><b>Yunzhu Li</b></a>*,
				<a href="https://people.csail.mit.edu/lishuang/" target="_blank">Shuang Li</a>*,
				<a href="https://vsitzmann.github.io/" target="_blank">Vincent Sitzmann</a>,
				<a href="https://people.csail.mit.edu/pulkitag/" target="_blank">Pulkit Agrawal</a>, and
				<a href="http://web.mit.edu/torralba/www/" target="_blank">Antonio Torralba</a>
				<br>
				<b><font color="black">3D Neural Scene Representations for Visuomotor Control</font></b><br>
				<b><a href="https://www.robot-learning.org/" target="_blank">CoRL 2021</a></b>,
				<a href="https://3d-representation-learning.github.io/nerf-dy/" target="_blank"> <small>[Project]</small></a>
				<a href="https://arxiv.org/abs/2107.04004" target="_blank"> <small>[Paper]</small></a>
				<a href="https://youtu.be/ELPMiifELGc" target="_blank"> <small>[Video]</small></a>
				<a href="https://openreview.net/forum?id=zv3NYgRZ7Qo" target="_blank"> <small>[OpenReview]</small></a>
				<a href="https://3d-representation-learning.github.io/nerf-dy/nerf-dy.bib" target="_blank"> <small>[BibTex]</small></a><br>
				<font color="firebrick"><b>Oral Presentation (Top 6.5%)</b></font><br>
				Abridged in <b>RSS 2021</b> workshop on Visual Learning and Reasoning for Robotics <a href="https://rssvlrr.github.io/" target="_blank"><small>[Link]</small></a><br>
				</div>
			</div>
