
<div class="selected publications">
   <h2>selected publications</h2>

</div>
  <div class="text">
    <div class="title"><a name="RefindDeviationTheorem" href="http://stevenhan1991.github.io/assets/pdf/RefindDeviationTheorem2022.pdf">Refined Cramér-type moderate deviation theorems for general self-normalized sums with applications to dependent random variables and winsorized mean</a>
    </div> 
    <div class="authors">
	    <span class="author">Lan Gao</span>,
	    <span class="author">Qi-Man Shao</span>,
	    <span class="author">and <b>Jiasheng Shi</b></span>
    </div>
    <div>
                  <span class="venue">The Annals of Statistics</span> /
                  <span class="tag"><a href="http://Jiasheng-Shi.github.io/assets/pdf/RefindDeviationTheorem2022.pdf">Paper</a></span> 
    </div>
  </div>
	

<hr>
	
	<div class="img"><img class="img_responsive" src="http://stevenhan1991.github.io/assets/img/publications/SurfNet.jpg" style="border:1px solid black width:200px;height:100px;" alt="spotlight_surfnet" align="left">
</div>
  <div class="text">
    <div class="title"><a name="SurfNet" href="http://stevenhan1991.github.io/assets/pdf/SurfNet.pdf">SurfNet: Learning Surface Representations via Graph Convolutional Network</a>
    </div> 
    <div class="authors">
	    <span class="author"><b>Jun Han</b></span>
	    <span class="author">and Chaoli Wang</span>
    </div>
    <div>
                  <span class="venue">CGF (EuroVis 2022)</span> /
                  <span class="tag"><a href="http://stevenhan1991.github.io/assets/pdf/SurfNet.pdf">Paper</a></span>
    </div>
  </div>
	

<hr>
	
	<div class="img"><img class="img_responsive" src="http://stevenhan1991.github.io/assets/img/publications/STNet.jpg" style="border:1px solid black width:200px;height:100px;" alt="spotlight_vcnet" align="left">
	</div>
  <div class="text">
    <div class="title"><a name="vcnet" href="http://stevenhan1991.github.io/assets/pdf/vis21-stnet.pdf">STNet: An End-to-End Generative Framework for Synthesizing Spatiotemporal Super-Resolution Volumes</a></div> 
    <div class="authors">
	    <span class="author"><b>Jun Han</b></span>,
	    <span class="author">Hao Zheng</span>,
	     <span class="author">Danny Z. Chen</span>,
	    <span class="author">and Chaoli Wang</span>
    </div>
	  <div>
                  <span class="venue">IEEE TVCG (IEEE VIS 2021)</span> /
                  <span class="tag"><a href="http://stevenhan1991.github.io/assets/pdf/vis21-stnet.pdf">Paper</a></span>
	  </div>
  </div>
	<hr>
	
	
	<div class="img"><img class="img_responsive" src="http://stevenhan1991.github.io/assets/img/publications/HSSL.jpg" style="border:1px solid black width:200px;height:100px;" alt="spotlight_miccai21" align="left">
	</div>
  <div class="text">
    <div class="title"><a name="miccai21" href="http://stevenhan1991.github.io/assets/pdf/MICCAI21.pdf">Hierarchical Self-Supervised Learning for Medical Image Segmentation Based on Multi-Domain Data Aggregation</a></div> 
    <div class="authors">
	    <span class="author">Hao Zheng</span>,
	    <span class="author"><b>Jun Han</b></span>,
	    <span class="author">Hongxiao Wang</span>,
	    <span class="author">Lin Yang</span>,
	    <span class="author">Zhuo Zhao</span>,
	    <span class="author">Chaoli Wang</span>,
	    <span class="author">and Danny Z. Chen</span>
    </div>
	  <div>
                  <span class="venue">MICCAI 2021</span> /
                  <span class="tag"><a href="http://stevenhan1991.github.io/assets/pdf/MICCAI21.pdf">Paper</a></span>
	  </div>
  </div>	  
	
<hr>
	
	<div class="img"><img class="img_responsive" src="http://stevenhan1991.github.io/assets/img/publications/v2v.jpg" style="border:1px solid black width:200px;height:100px;" alt="spotlight_v2v" align="left">
	</div>
  <div class="text">
    <div class="title"><a name="shape2prog_iclr" href="http://stevenhan1991.github.io/assets/pdf/v2v.pdf">V2V: A Deep Learning Approach to Variable-to-Variable Selection and Translation for Multivariate Time-Varying Data</a></div> 
    <div class="authors">
	    <span class="author"><b>Jun Han</b></span>,
      <span class="author">Hao Zheng</span>,
      <span class="author">Yunhao Xing</span>,
	     <span class="author">Danny Z. Chen</span>,
	     <span class="author">and Chaoli Wang</span>
    </div>
	  <div>
                  <span class="venue">IEEE TVCG (IEEE VIS 2020)</span> /
                  <span class="tag"><a href="http://stevenhan1991.github.io/assets/pdf/v2v.pdf">Paper</a></span>
	  </div>
  </div>
	<hr>

	
	<div class="img"><img class="img_responsive" src="http://stevenhan1991.github.io/assets/img/publications/FlowNet.jpg" style="border:1px solid black width:200px;height:100px;" alt="spotlight_flownet" align="left">
	</div>
  <div class="text">
    <div class="title"><a name="flownet" href="http://stevenhan1991.github.io/assets/pdf/tvcg20-flownet.pdf">FlowNet: A Deep Learning Framework for Clustering and Selection of Streamlines and Stream Surfaces</a></div> 
    <div class="authors">
	    <span class="author"><b>Jun Han</b></span>,
      <span class="author">Jun Tao</span>,
	     <span class="author">and Chaoli Wang</span>
    </div>
	  <div>
                  <span class="venue">IEEE TVCG </span> /
                  <span class="tag"><a href="http://stevenhan1991.github.io/assets/pdf/tvcg20-flownet.pdf">Paper</a></span>
	  </div>
  </div>
	<hr>	
	
	
<div class="img"><img class="img_responsive" src="http://stevenhan1991.github.io/assets/img/publications/UbiEar.jpg" style="border:1px solid black width:200px;height:100px;" alt="spotlight_ubiear" align="left">
	</div>
  <div class="text">
    <div class="title"><a name="ubiear" href="phttp://stevenhan1991.github.io/assets/pdf/UbiEar.pdf">UbiEar: Bringing Location-independent Sound Awareness to the Hard-of-hearing People with Smartphones</a></div> 
    <div class="authors">
	    <span class="author">Sicong Liu</span>,
	    <span class="author">Zimu Zhou</span>,
	    <span class="author">Junzhao Du</span>,
	    <span class="author">Longfei Shangguan</span>,
	    <span class="author"><b>Jun Han</b></span>,
	     <span class="author">and Xin Wang</span>
    </div>
	  <div>
                  <span class="venue">ACM IMWUT (<span style="color:red">Distinguished Paper Award at ACM UbiComp 2018</span>)</span> /
                  <span class="tag"><a href="http://stevenhan1991.github.io/assets/pdf/UbiEar.pdf">Paper</a></span>
	  </div>
  </div>
	<hr>		
	
</div>
